body {
  background: #fff;
  font-family: "calibri"; }
  body .row {
    margin-left: 0px;
    margin-right: 0px; }

.def-font-fam, .reason-container .row .reason-text p, .impacts-container .row .impact-number, .impacts-container .row .impact-text, .impacts-container .row .impact-link, .latest-blog .row .post-body .post-content, .latest-blog .row .post-body .post-read-more {
  font-family: "Open Sans", sans-serif; }

.container-fluid {
  padding: 0px !important; }

.section-title, .reason-container .row .reason-title, .impacts-container .row .impacts-title {
  font-size: 38px;
  text-align: center;
  line-height: .8; }

.section-text, .reason-container .row .reason-text p, .impacts-container .row .impact-text {
  text-align: center;
  font-weight: 300;
  font-size: 16px; }

.section-button, .slider .slide-link-row .slide-grid-cont .slide-link-container .slide-link-button span, .impacts-container .row .impact-link span {
  line-height: 40px;
  vertical-align: middle;
  text-decoration: none; }

.shade, .slider .slide-link-row .slide-grid-cont .slide-link-container .slide-img-link-bg, .testimonial .testimonial-shade, .testimonial .testimonial-shade-blk, .testimonial .testimonial-box .test-box-shade {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; }

::-webkit-input-placeholder {
  color: #fff;
  opacity: 1; }

:-moz-placeholder {
  color: #fff;
  opacity: 1; }

::-moz-placeholder {
  color: #fff;
  opacity: 1; }

:-ms-input-placeholder {
  color: #fff;
  opacity: 1; }

.header {
  border-top: 2px solid #005696;
  height: 70px; }
  .header .mob-nav-btn {
    display: none; }
  .header .logo-cont {
    text-align: center;
    height: 100%;
    position: relative; }
    .header .logo-cont .header-logo {
      height: 100%; }
  .header .main-nav {
    margin-top: 28px;
    height: 30px;
    text-align: center;
    padding-left: 0px; }
    .header .main-nav a {
      padding: 14px;
      color: #000;
      font-weight: 300;
      position: relative;
      font-size: 16px;
      font-family: "Merriweather", serif;
      text-decoration: none; }
      .header .main-nav a :hover {
        text-decoration: none; }
    .header .main-nav :last-child {
      color: #005696;
      background: #ffbf40;
      font-weight: 400;
      font-size: 18px; }

@media screen and (max-width: 970px) {
  .header {
    height: 57px; }
    .header .logo-cont {
      padding: 0px; }
    .header .main-nav {
      padding: 0px;
      margin-top: 16px; }
      .header .main-nav a {
        font-size: 14px;
        padding: 8px; }
      .header .main-nav :last-child {
        font-size: 16px;
        padding-top: 17px;
        padding-bottom: 17px; }
      .header .main-nav .nav-link:hover {
        background: #e5e5e5; } }
@media screen and (max-width: 780px) {
  .header .main-nav {
    position: absolute;
    top: 40px;
    right: 0px;
    z-index: 100;
    width: 150px; }
    .header .main-nav a {
      width: 100%;
      background: #fff;
      position: relative;
      float: right; }
  .header .mob-nav-btn {
    display: block;
    width: 110px;
    height: 40px;
    background-image: url("/wp-content/assets/menubutton.png");
    background-size: cover;
    position: relative;
    float: right;
    margin-top: 7px;
    margin-right: 4px; } }
.slider {
  height: 605px;
  overflow: hidden;
  position: relative;
  background-image: url("/wp-content/assets/Slideshow-Nurse-Wilson.jpg");
  background-size: cover; }
  .slider .slide-link-row {
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: 100%; }
    .slider .slide-link-row .slide-grid-cont {
      position: relative;
      text-align: center; }
      .slider .slide-link-row .slide-grid-cont .slide-link-container {
        height: 130px;
        width: 80%;
        z-index: 0;
        color: #fff;
        position: relative;
        text-align: center;
        margin-left: 10%; }
        .slider .slide-link-row .slide-grid-cont .slide-link-container .slide-img-link-bg {
          background: #005696;
          opacity: .5;
          z-index: -1; }
        .slider .slide-link-row .slide-grid-cont .slide-link-container .slide-link-text {
          width: 100%;
          opacity: 1;
          font-size: 50px;
          font-weight: 300;
          z-index: 50;
          font-family: "Merriweather", serif; }
        .slider .slide-link-row .slide-grid-cont .slide-link-container .slide-link-button {
          width: 300px;
          height: 40px;
          margin: auto;
          background: #2eb3eb;
          color: #fff;
          margin-top: 18px; }
          .slider .slide-link-row .slide-grid-cont .slide-link-container .slide-link-button span {
            font-family: "Open Sans", sans-serif; }
        @media screen and (max-width: 970px) {
          .slider .slide-link-row .slide-grid-cont .slide-link-container .slide-link-text {
            font-size: 30px;
            padding-top: 20px; } }
        @media screen and (max-width: 792px) {
          .slider .slide-link-row .slide-grid-cont .slide-link-container .slide-link-text {
            font-size: 24px;
            padding-top: 20px; } }
        @media screen and (max-width: 600px) {
          .slider .slide-link-row .slide-grid-cont .slide-link-container .slide-link-text {
            font-size: 18px;
            padding-top: 20px; } }
      @media screen and (max-width: 970px) {
        .slider .slide-link-row .slide-grid-cont .slide-link-container {
          width: 70%;
          margin-left: 15%; } }
      @media screen and (max-width: 500px) {
        .slider .slide-link-row .slide-grid-cont .slide-link-container {
          width: 100%;
          background: #005696;
          posiation: relative;
          margin: 0px; } }
    @media screen and (max-width: 500px) {
      .slider .slide-link-row .slide-grid-cont {
        padding: 0px; } }
    .slider .slide-link-row .slide-ph {
      posiation: relative; }
  @media screen and (max-width: 500px) {
    .slider .slide-link-row {
      bottom: 0px; } }

@media screen and (max-width: 970px) {
  .slider {
    height: 285px; } }
.reason-container {
  position: realtive; }
  .reason-container .row .reason-title {
    width: 100%;
    margin-top: 75px;
    color: #005696;
    text-align: center; }
  .reason-container .row .reason-text {
    max-width: 865px;
    margin: auto;
    padding: 45px 100px 45px 100px; }
  @media screen and (max-width: 400px) {
    .reason-container .row .reason-title {
      font-size: 26px;
      padding-left: 30px;
      padding-right: 30px; }
    .reason-container .row .reason-text {
      padding: 30px; } }

.impacts-container {
  position: relative;
  background: #005696;
  color: #fff; }
  .impacts-container .row .impacts-title {
    margin-top: 75px;
    font-family: "Merriweather", serif; }
  .impacts-container .row .impact-number {
    font-weight: 700;
    padding: 25px;
    margin-top: 20px;
    font-size: 48px;
    text-align: center; }
  .impacts-container .row .impact-line {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
    background-color: #2eb3eb;
    height: 1px; }
  .impacts-container .row .impact-text {
    padding: 25px; }
  .impacts-container .row .impact-link {
    width: 145px;
    height: 40px;
    background-color: #2eb3eb;
    margin: auto;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 70px; }

.impacts-container > .impact-more > .impact-link > span:hover {
  text-decoration: none; }

.latest-blog .row .post-image {
  text-align: center;
  padding: 70px 25px 70px 100px; }
  .latest-blog .row .post-image img {
    width: 100%;
    height: 100%; }
.latest-blog .row .post-body {
  padding: 70px 100px 70px 25px; }
  .latest-blog .row .post-body .post-title {
    color: #005696;
    font-size: 20px;
    text-align: left;
    font-family: "Merriweather", serif;
    margin-bottom: 40px; }
  .latest-blog .row .post-body .post-content {
    font-weight: 300; }
  .latest-blog .row .post-body .post-read-more {
    text-transform: uppercase;
    font-weight: 700; }
@media screen and (max-width: 992px) {
  .latest-blog .row .post-image {
    padding: 70px 100px 10px 100px; }
  .latest-blog .row .post-body {
    padding: 5px 100px 70px 100px; } }
@media screen and (max-width: 500px) {
  .latest-blog .row .post-image {
    padding: 55px 15px 10px 15px; }
  .latest-blog .row .post-body {
    padding: 10px 15px 70px 15px; } }

.latest-blog > .post-body > .post-read-more:hover {
  text-decoration: none; }

.testimonial {
  overflow: hidden;
  position: relative;
  background-image: url("/wp-content/assets/hospital-front-1398x600.jpg");
  background-size: cover; }
  .testimonial .testimonial-shade {
    background: #005696;
    opacity: .75;
    z-index: 1; }
  .testimonial .testimonial-shade-blk {
    background: #000;
    opacity: .5;
    z-index: 2; }
  .testimonial .testimonial-box {
    max-width: 940px;
    width: 87.5%;
    position: relative;
    margin: auto;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 75px;
    padding: 35px 60px 55px 60px;
    z-index: 3; }
    .testimonial .testimonial-box .test-box-shade {
      background: #e5e5e5;
      opacity: .25; }
    .testimonial .testimonial-box .testimonial-text {
      color: #fff;
      font-weight: 300;
      font-size: 30px;
      font-family: "calibri";
      font-style: italic;
      margin-bottom: 30px; }
      .testimonial .testimonial-box .testimonial-text :before, .testimonial .testimonial-box .testimonial-text :after {
        content: '"'; }
    .testimonial .testimonial-box .testimonial-sign {
      color: #fff;
      font-weight: 300;
      font-family: "Merriweather", serif;
      text-transform: uppercase; }
  @media screen and (max-width: 500px) {
    .testimonial .testimonial-box .testimonial-text, .testimonial .testimonial-sign {
      font-size: 16px; }
    .testimonial .testimonial-sign {
      font-size: 12px; } }

.upcal, .footer .sm-footer .left-links a, .footer .lg-footer .inform .inform-title, .footer .lg-footer .info .loc-cont .info-title {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase; }

.footer {
  position: relative;
  font-family: "Open Sans", sans-serif; }
  .footer a {
    color: #fff; }
  .footer .sm-footer {
    background: #005696;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    width: 100%;
    margin: 0px; }
    .footer .sm-footer .left-links {
      padding-top: 15px; }
      .footer .sm-footer .left-links a {
        margin-right: 20px;
        position: relative;
        float: left;
        margin-top: 15px;
        margin-bottom: 15px; }
        .footer .sm-footer .left-links a :hover, .footer .sm-footer .left-links a :focus {
          text-decoration: none;
          color: #fff; }
    .footer .sm-footer .social-links {
      position: relative;
      text-align: right;
      padding-top: 20px;
      padding-bottom: 20px; }
      .footer .sm-footer .social-links .search, .footer .sm-footer .social-links .social {
        position: relative;
        float: right; }
      .footer .sm-footer .social-links i.fa {
        color: #2eb3eb;
        font-size: 35px;
        margin-right: 5px; }
      .footer .sm-footer .social-links i.search {
        width: 195px;
        float: right;
        margin-left: 5px; }
        .footer .sm-footer .social-links i.search .search-form {
          width: 195px; }
          .footer .sm-footer .social-links i.search .search-form label {
            margin-bottom: 0px;
            position: relative;
            float: left; }
          .footer .sm-footer .social-links i.search .search-form .screen-reader-text {
            display: none; }
          .footer .sm-footer .social-links i.search .search-form input {
            width: 155px;
            height: 38px;
            background: #003258;
            border: none;
            padding: none;
            margin: none;
            color: #fff; }
          .footer .sm-footer .social-links i.search .search-form button {
            width: 40px;
            height: 38px;
            border: none;
            padding: 0px;
            position: relative;
            float: left;
            background-image: url("/wp-content/assets/search.png"); }
    @media screen and (max-width: 992px) {
      .footer .sm-footer .search, .footer .sm-footer .social {
        width: 100%; } }
  .footer .lg-footer {
    width: 100%;
    position: relative;
    border-top: 1px solid #fff;
    background: #005696;
    color: #fff;
    font-family: "calibri";
    padding-left: 100px;
    padding-right: 100px;
    margin: 0px; }
    .footer .lg-footer .inform {
      margin-top: 35px;
      font-family: "Open Sans", sans-serif;
      margin-bottom: 30px; }
      .footer .lg-footer .inform .inform-title {
        font-size: 18px;
        width: 100%;
        margin-bottom: 20px;
        font-weight: 700; }
      .footer .lg-footer .inform .email-label {
        width: 100%;
        font-weight: 300; }
        .footer .lg-footer .inform .email-label span {
          color: #FF0000;
          margin-left: 3px; }
      .footer .lg-footer .inform .email-input {
        width: 100%;
        border: none;
        height: 30px;
        margin-bottom: 30px; }
      .footer .lg-footer .inform .submit-email {
        width: 100px;
        height: 40px;
        background: #2eb3eb;
        border: none; }
    .footer .lg-footer .info {
      margin-top: 35px;
      font-weight: 300;
      font-family: "Open Sans", sans-serif;
      margin-bottom: 30px; }
      .footer .lg-footer .info div {
        text-align: right; }
      .footer .lg-footer .info .loc-cont {
        margin-bottom: 55px; }
        .footer .lg-footer .info .loc-cont .info-title {
          font-weight: 700; }
      .footer .lg-footer .info .oth-cont {
        width: 100%; }
        .footer .lg-footer .info .oth-cont a {
          padding-left: 7px; }
        .footer .lg-footer .info .oth-cont span {
          padding-right: 7px;
          border-right: 1px solid #fff; }
      .footer .lg-footer .info a {
        text-decoration: underline; }
      .footer .lg-footer .info .site-credit {
        margin-top: 5px; }
  @media screen and (max-width: 992px) {
    .footer .sm-footer, .footer .lg-footer {
      padding-left: 20px;
      padding-right: 20px; } }

.footer > .sm-footer > .left-links > .footer-link:hover {
  color: #fff;
  text-decoration: none; }

.search-form label .search-field {
  font-family: "calibri";
  font-style: italic;
  padding-left: 8px;
  font-weight: 300;
  opacity: 1; }

/*# sourceMappingURL=main.css.map */
