// google fonts
$font-main:		"open-sans";
$font-main-2:	"calibri";
$font-serif:	"merriweather";


// fonts weights
$font-light:	300;
$font-normal:	400;
$font-bold:		700;
$font-bolder:	900;


// colors
$clr-white:		#fff;
$clr-black:		#000;

$clr-brand:			#005696; 		//---- Dark blue
$clr-brand-2: 		#2eb3eb; 		//---- Light blue
$clr-text:			$clr-black; 	//---- Black Color
$clr-text-light: 	#80abcb;		//---- text light gray
$clr-link: 			$clr-brand; 	//blue
$clr-bg: 			$clr-white;		//---- White Background
$darkest-blue:		#003258;		// for search input background
$red:				#FF0000;		// required field

$clr-brand-dark:		#18326d;
$clr-brand-light:		#ffbf40;		//---- Bright Yellow
$clr-brand-2-dark:		#d6d6d6; 		//darker gray
$clr-brand-2-light:		#e5e5e5; 		//lighter gray


// widths
$no-padding:	0px !important;		//--force no padding



